@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@400&display=swap");

body{

  margin: 0px;
}

.title {
  font-family: "Source Code Pro", monospace;
}
.sub-title {
  font-family: "Ubuntu", sans-serif;
}
.fonty {
    font-style: 'Lora', serif !important;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.container {
  padding-left: 3em;
  padding-right: 3em;
  max-width: 700px;
  margin: auto;
}
.link {
  text-decoration: none;
  padding: 2rem 1rem;
}

.nav-icon {
  margin: 0rem 1rem;
  color: #ffffff;
  padding: 0.2rem 1rem;
  position: relative;
  top: 1.7rem;
  font-size: larger;
}

.navigator {
  background-color: #1f2833;
  height: 5rem;
}
.navigator .link {
  color: #66fcf1;
  font-size: 15px;
}

#img1 {
  width: 50%;
  align-items: center;
  position: relative;
  left: 25%;
}
.div--nav {
  padding: 1rem 1rem;
  text-align: right;
}

.technologies-known {
  background-color: #dce3f3;
  border-radius: 0.5rem;
}
.intro {
  padding: 2rem 2rem;
}
.technologies-known > h3 {
  padding: 0.5rem 0.5rem;
}

small {
  font-size: x-small;
}

.project-done {
  background-color: #dce3f3;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
}
.project-done .show-project {
  background-color: #1f2833;
  color: #66fcf1;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
}
.project-done > h3 {
  padding: 0.5rem 0.5rem;
}

.blogs {
  padding: 2rem 2rem;
}

.roles {
  padding: 2rem 2rem;
}

.blogs .show-blogs {
  background-color: #1f2833;
  color: #66fcf1;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
}

.extra-about-me {
  border-radius: 0.5rem;
}

.extra-about-me .show-extra {
  background-color: #66fcf1;
  color: #1f2833;
  border-radius: 2rem;
  padding: 0.5rem 0.5rem;
}
.extra-about-me > h3 {
  padding: 0.5rem 0.5rem;
  color: #c5c6c7;
}

.footer {
  background-color: #1f2833;
  color: #66fcf1;
  margin-top : 5rem;
}
.social {
  color: #c5c6c7;
  padding: 1rem 1rem;
}

.social-tag {
  text-decoration: none;
  background-color: azure;
  color: #1f2833;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
}

/* project css */

.live-demo {
  text-decoration: none;
  background-color: #66fcf1;
  border-color: #1f2833;
  color: black;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  display: inline;
  margin: 0.3rem 0.3rem;
}
.source-code {
  text-decoration: none;
  border: 1px solid;

  display: inline;
  color: #66fcf1;
  background-color: #1f2833;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
}

.hr-color{
  color: #66fcf1;
}

.project-show{
  position:initial;
  left: 50%;
}

/* blogs  css */
.blog-button{
  text-decoration: none;
  border: 1px solid;
  display: inline;
  color: #1f2833;
  background-color: #66fcf1;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
}
.blog-button:hover{
  text-decoration: none;
  border: 1px solid;
  display: inline;
  color: #66fcf1;
  background-color: #1f2833;
  border-radius: 0.2rem;
  padding: 0.5rem 0.5rem;
}

/* blogs contain */
.blog-content{
  text-align: justify;
  text-justify: inter-word;

}
.blog-show{
padding: 2rem 0rem;
}

@media only screen and (max-width: 500px) {

  .container {
  padding-left: 3em;
  padding-right: 3em;
  max-width: 500px;
  margin: auto;
}

  body {
    font-size: 16px;
  }
  .nav-icon {
    margin: 0rem 1rem;
    color: #c5c6c7;
    padding: 0.2rem 1rem;
    position: relative;
    top: 0.6rem;
    left: 25%;
    font-size:medium;
  }

  .div--nav{
    text-align: center;
  }
}

a{
  text-decoration: none;
}
